body {
  font: 20px/1.6 "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  background-color: #00d5aa;
  color: black;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

#wrapper {
  max-width: 500px;
  margin: 100px; }

#avatarcorner {
  position: absolute;
  top: 0px;
  left: 0px; }

#avatarmiddle {
  position: absolute;
  top: 0px;
  left: 0px; }

p {
  color: rgba(0, 0, 0, 0.8); }

a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, .7);
  color: white; }

a:hover {
  color: black;
  background-color: white; 
  border-bottom: 1px solid rgba(255, 255, 255, .7); }

h1 {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.4;
  margin: 60px 0 80px 0; }

a.button {
  font-size: 22px;
  font-weight: 500;
  margin: 60px 0 80px 0;
  display: inline-block;
  line-height: 1.5; }

a.button:hover {
  background-color: white; }

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 400; }

footer p {
  color: rgba(0, 0, 0, 0.4); }

@media screen and (max-width: 660px) {
  #wrapper {
    margin: 40px; }

  h1 {
    font-size: 28px;
    margin: 40px 0; }

  #badge {
    top: 10px;
    right: 10px; }

  a.button {
    margin: 40px 0; } }
@media screen and (max-width: 400px) {
  #wrapper {
    margin: 30px; }

  h1 {
    font-size: 244x;
    margin: 30px 0; }

  #badge {
    top: 10px;
    right: 10px; }

  a.button {
    margin: 30px 0; } }
